/**
 * @file
 * Styles for uc_store module.
 */

.uc-price {
  white-space: nowrap;
}

.uc-inline-form .form-item {
  float: left;
  margin-right: 1em;
  padding-top: 5px;
}

.uc-default-submit {
  height: 0;
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 0;
}

/**
 * CSS rules for address fields.
 */
.uc-store-address-field .form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uc-store-address-field .form-item label {
  float: left;
  margin-top: 6px;
  padding-right: 0.75em;
  text-align: right;
  width: 10em;
}

/**
 * Toolbar icon.
 */
.toolbar-icon-store:before {
  background-image: url(../icons/787878/cart.svg);
}
.toolbar-icon-store:active:before,
.toolbar-icon-store.active:before {
  background-image: url(../icons/000000/cart.svg);
}
