/**
 * @file
 * Styles for uc_store module.
 */

.uc-price {
  white-space: nowrap;
}

.uc-inline-form .form-item {
  float: left;
  margin-right: 1em;
  padding-top: 5px;
}

#store-footer {
  clear: both;
  font-size: x-small;
  text-align: center;
  width: 100%;
}

.uc-default-submit {
  height: 0;
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 0;
}

/**
 * CSS rules for address fields.
 */
.uc-store-address-field .form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.uc-store-address-field .form-item label {
  float: left;
  margin-top: 6px;
  padding-right: 0.75em;
  text-align: right;
  width: 10em;
}

/**
 * Icon support for admin (http://drupal.org/project/admin).
 */
.path-admin-store-orders span.icon {
  background: transparent url('images/menu_orders.gif') no-repeat !important;
}
.path-admin-store-customers span.icon {
  background: transparent url('images/menu_customers.gif') no-repeat !important;
}
.path-admin-store-products span.icon {
  background: transparent url('images/menu_products.gif') no-repeat !important;
}
.path-admin-store-settings span.icon {
  background: transparent url('images/menu_store_settings.gif') no-repeat !important;
}
.path-admin-store-reports span.icon {
  background: transparent url('images/menu_reports.gif') no-repeat !important;
}
