/**
 * @file
 * Styles for uc_product module.
 */
.uc-product-image {
  overflow: auto;
  width: 100%;
}

.uc-product-image .field-item + .field-item img {
  float: left;
  margin-right: 1em;
}

.display-price {
  clear: right;
  float: right;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
  text-align: center;
}

.uc-product-features td {
  vertical-align: top;
}

/**
 * Styles for uc_attribute.
 */
.combinations .form-item {
  margin: 0;
  padding: 0;
}

/**
 * Styles for uc_roles.
 */
.expiration {
  display: inline;
}

.expiration .form-item {
  display: inline;
}
