/**
 * @file
 * Styles for uc_payment module.
 */

.uc-credit-cctype {
  vertical-align: middle;
  margin-bottom: 3px;
}

#paypal-includes {
  font-weight: bold;
}

#payment-details {
  border-top: solid 1px #bbb;
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
}

.payment-details-cod .form-item {
  display: block;
  float: left; /* LTR */
  padding-right: 5px; /* LTR */
}
[dir="rtl"] .payment-details-cod .form-item {
  float: right;
  padding-right: auto;
  padding-left: 5px;
}

.payment-details-credit .form-item {
  margin: 0;
}

.payment-details-credit label {
  clear: left; /* LTR */
  float: left; /* LTR */
  margin: 2px 0;
  padding-top: 5px;
  width: 10em;
}
[dir="rtl"] .payment-details-credit label {
  clear: right;
  float: right;
}

.payment-details-credit input,
.payment-details-credit select {
  float: left; /* LTR */
  margin: 2px;
}
[dir="rtl"] .payment-details-credit input,
[dir="rtl"] .payment-details-credit select {
  float: right;
}

.form-item-panes-payment-details-cc-start-year label,
.form-item-panes-payment-details-cc-exp-year label,
.form-item-cc-data-cc-start-year label,
.form-item-cc-data-cc-exp-year label {
  display: none;
}

.payment-details-credit .field-suffix {
  float: left; /* LTR */
  margin: 2px;
  padding-top: 5px;
}
[dir="rtl"] .payment-details-credit .field-suffix {
  float: right;
}

img.uc-2checkout-logo {
  position: relative;
  left: 2.2em; /* LTR */
}
[dir="rtl"] img.uc-2checkout-logo {
  left: auto;
  right: 2.2em;
}

.uc-payment-totals {
  float: right; /* LTR */
  margin-left: 1em; /* LTR */
  width: auto;
}
[dir="rtl"] .uc-payment-totals {
  float: left;
  margin-left: auto;
  margin-right: 1em;
}

.uc-payment-totals td.title {
  font-weight: bold;
}

#uc-payment-by-order-form .form-type-item {
  float: left; /* LTR */
  width: 10em;
}
[dir="rtl"] #uc-payment-by-order-form .form-type-item {
  float: right;
}
